In [40]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import json
from helpers import *
import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('ggplot')

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# Load speakers
speakers = pd.read_parquet('data/speaker_attributes.parquet')

In [3]:
speakers.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None

In [7]:
# Get nationalities (first one)
nationalities = speakers.nationality.apply(lambda nt: nt[0] if nt is not None else None)

In [34]:
# Find unique ones excluding None
unique_nat_qids = np.unique(nationalities[nationalities.values != None])

In [35]:
len(unique_nat_qids)

2704

In [18]:
len(nationalities.values)

9055981

In [67]:
# Get all existing country entities
countries = {}
entity_instanceof = get_wiki_entity('P31')
entity_country = get_wiki_entity('Q6256')

for qid in unique_nat_qids:
    entity = get_wiki_entity(qid)
    for instance in entity.getlist(entity_instanceof):
        if instance == entity_country:
            countries[qid] = entity
            break

In [69]:
[country.label for country in countries.values()]

[m'Gabon',
 m'The Gambia',
 m'Guinea',
 m'Guinea-Bissau',
 m"Côte d'Ivoire",
 m'Cameroon',
 m'Cape Verde',
 m'Lesotho',
 m'Liberia',
 m'Libya',
 m'Madagascar',
 m'Malawi',
 m'Mauritania',
 m'Mauritius',
 m'Morocco',
 m'Mozambique',
 m'Namibia',
 m'Niger',
 m'Nigeria',
 m'Uganda',
 m'Rwanda',
 m'São Tomé and Príncipe',
 m'Senegal',
 m'Seychelles',
 m'Sierra Leone',
 m'Somalia',
 m'Sudan',
 m'Kenya',
 m'Ethiopia',
 m'Ghana',
 m'Imperial China',
 m'Kosovo',
 m'Holy Roman Empire',
 m'Kingdom of Aksum',
 m'France',
 m'United Kingdom',
 m"People's Republic of China",
 m'Brazil',
 m'Russia',
 m'Canada',
 m'Great Britain',
 m'American Samoa',
 m'Northern Mariana Islands',
 m'Japan',
 m'North Vietnam',
 m'South Vietnam',
 m'Germany',
 m'Belarus',
 m'Trucial States',
 m'Iceland',
 m'Central African Empire',
 m'Estonia',
 m'Norway',
 m'Pahlavi Dynasty',
 m'England',
 m'Latvia',
 m'Ukraine',
 m'Aruba',
 m'Czech Republic',
 m'Cisalpine Republic',
 m'Slovakia',
 m'Slovenia',
 m'Moldova',
 m'Romania',
 m'Bulgaria',
 m'North Macedonia',
 m'Albania',
 m'Croatia',
 m'Bosnia and Herzegovina',
 m'Azerbaijan',
 m'Andorra',
 m'Electoral Palatinate',
 m'Cyprus',
 m'Georgia',
 m'Kazakhstan',
 m'Malta',
 m'Monaco',
 m'Montenegro',
 m'Vatican City',
 m'San Marino',
 m'Cuba',
 m'Belize',
 m'Barbados',
 m'Republic of Artsakh',
 m'Tibet',
 m'Wales',
 m'Indonesia',
 m'Curaçao',
 m'South Africa',
 m'Algeria',
 m'Sint Maarten',
 m'Uzbekistan',
 m'Cook Islands',
 m'Ireland',
 m'Hungary',
 m'Spain',
 m'Chile',
 m'Kingdom of the Netherlands',
 m'United States of America',
 m'Belgium',
 m'Irish Free State',
 m'Luxembourg',
 m'Finland',
 m'Singapore',
 m'Sweden',
 m'Niue',
 m'Liechtenstein',
 m'Somaliland',
 m'Denmark',
 m'Poland',
 m'Lithuania',
 m'Italy',
 m'Switzerland',
 m'Galicia',
 m'Bahrain',
 m'Armenia',
 m'Austria',
 m'Mataram Sultanate',
 m'Serbia',
 m'Sahrawi Arab Democratic Republic',
 m'Australia',
 m'Greece',
 m'Argentina',
 m'Peru',
 m'North Korea',
 m'Cambodia',
 m'Turkey',
 m'German Empire',
 m'Old Swiss Confederacy',
 m'Portugal',
 m'Netherlands',
 m'Timor-Leste',
 m'Zaire',
 m'Chad',
 m'New Zealand',
 m'India',
 m'Tuvalu',
 m'Tonga',
 m'Samoa',
 m'Solomon Islands',
 m'Vanuatu',
 m'Papua New Guinea',
 m'Palau',
 m'Nauru',
 m'Federated States of Micronesia',
 m'Marshall Islands',
 m'Kiribati',
 m'Mongolia',
 m'Fiji',
 m'Venezuela',
 m'Suriname',
 m'Paraguay',
 m'Guyana',
 m'Ecuador',
 m'Colombia',
 m'Bolivia',
 m'Trinidad and Tobago',
 m'Danish Realm',
 m'Saint Vincent and the Grenadines',
 m'Saint Lucia',
 m'Saint Kitts and Nevis',
 m'Jamaica',
 m'Grenada',
 m'Uruguay',
 m'Guatemala',
 m'The Bahamas',
 m'Antigua and Barbuda',
 m'Honduras',
 m'Dominica',
 m'Dominican Republic',
 m'Egypt',
 m'Haiti',
 m'El Salvador',
 m'Iran',
 m'Iraq',
 m'Republic of Upper Volta',
 m'Costa Rica',
 m'Israel',
 m'Panama',
 m'Yemen',
 m'Jordan',
 m'Nicaragua',
 m'Kyrgyzstan',
 m'Kuwait',
 m'Laos',
 m'Lebanon',
 m'Maldives',
 m'Malaysia',
 m'Persian Empire',
 m'Myanmar',
 m'Nepal',
 m'Oman',
 m'Pakistan',
 m'Qatar',
 m'Saudi Arabia',
 m'Sri Lanka',
 m'Syria',
 m'Tajikistan',
 m'Taiwan',
 m'Thailand',
 m'Turkmenistan',
 m'United Arab Emirates',
 m'Vietnam',
 m'South Korea',
 m'Afghanistan',
 m'Bangladesh',
 m'Transnistria',
 m'Mali',
 m'Angola',
 m'Bhutan',
 m'Brunei',
 m'Tanzania',
 m'Philippines',
 m'Central African Republic',
 m'Togo',
 m'Tunisia',
 m'Zambia',
 m'Zimbabwe',
 m'South Sudan',
 m'Mexico',
 m'Benin',
 m'Botswana',
 m'Burkina Faso',
 m'Burundi',
 m'Comoros',
 m'Republic of the Congo',
 m'Democratic Republic of the Congo',
 m'Djibouti',
 m'Equatorial Guinea',
 m'Eritrea']

In [72]:
country_qids = list(countries.keys())

In [75]:
with open('data/country_qids.json', 'w') as f:
    f.write(json.dumps({'qids': country_qids}))

In [73]:
# Find speakers for those countries
country_speakers = speakers[speakers.nationality.apply(lambda nt: any([cid in nt for cid in country_qids]) if nt is not None else False)]

In [74]:
len(country_speakers)

3164693

In [78]:
country_speakers.id.to_csv('data/country_speaker_qids.csv')

In [79]:
with open('data/signi-quote-count-combined_1636253317430.json') as f:
    signi_quote_count_dict = json.load(f)

In [80]:
signi_quote_count_df = pd.Series(signi_quote_count_dict, name='signi_quote_count')

In [81]:
# Merge these country speakers with speakers who have significant number of quotes
signi_country_speakers = country_speakers.merge(signi_quote_count_df, left_on='id', right_index=True, how='inner')

In [83]:
len(signi_country_speakers)

436152

In [87]:
# Number of speakers who have more than 1 nationality
(signi_country_speakers.nationality.apply(lambda nt: len(nt)) > 1).sum()

19083

In [92]:
# Filter out those nationalities that are not legitimate countries
signi_country_speakers['country'] = signi_country_speakers.nationality.apply(lambda nt: [n for n in nt if n in country_qids])

In [96]:
# Number of speakers with more nationalities after filtering
(signi_country_speakers.country.apply(lambda nt: len(nt)) > 1).sum()

10291

In [97]:
# Take the first nationality as a country
signi_country_speakers['country'] = signi_country_speakers.country.apply(lambda c: c[0])

In [102]:
# Speakers grouped by country
speakers_by_country = signi_country_speakers.groupby('country')

In [103]:
speakers_by_country.size()

country
Q1000     35
Q1005    113
Q1006     91
Q1007     24
Q1008    174
        ...
Q971      48
Q974     179
Q977      11
Q983      12
Q986      49
Length: 219, dtype: int64

In [104]:
speakers_by_country.size().min(), speakers_by_country.size().max()

(1, 146486)

In [110]:
speakers_by_country.count().sort_values(by=['id'], ascending=False)

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion,signi_quote_count
country,,,,,,,,,,,,,,,,
Q30,33081,133039,146486,146344,146486,9646,1488,143867,15668,1285,146486,146486,157,146486,4579,146486
Q145,11741,45831,48328,48247,48328,484,0,47576,2626,273,48328,48328,1681,48328,1130,48328
Q16,3366,21215,23987,23963,23987,220,0,23046,3106,121,23987,23987,800,23987,401,23987
Q408,3888,16578,18281,18248,18281,123,0,17978,2100,64,18281,18281,389,18281,318,18281
Q183,1777,16875,17158,17157,17158,106,0,16795,2626,1338,17158,17158,465,17158,698,17158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Q237,1,2,2,2,2,2,0,2,0,1,2,2,0,2,2,2
Q180573,0,2,2,2,2,1,0,2,2,0,2,2,0,2,2,2
Q172640,0,1,1,1,1,0,0,1,0,0,1,1,0,1,0,1
Q12060881,0,1,1,1,1,0,0,1,0,0,1,1,0,1,0,1
Q6500954,0,1,1,1,1,0,0,1,0,0,1,1,0,1,0,1

In [138]:
country_agg = speakers_by_country.agg({'id': 'count', 'signi_quote_count': 'sum'})

In [139]:
# Number of countries who have less number of speakers in the dataset
(country_agg.id < 10).sum()

20

In [140]:
(country_agg.signi_quote_count < 10).sum()

4

In [149]:
underrep_countries = list(country_agg[country_agg.id < 5].index)
[countries[c].label for c in underrep_countries]

[m'Imperial China',
 m'North Vietnam',
 m'South Vietnam',
 m'Vatican City',
 m'Republic of Artsakh',
 m'Tibet',
 m'Curaçao',
 m'Niue',
 m'Sahrawi Arab Democratic Republic',
 m'German Empire',
 m'Zaire',
 m'Danish Realm',
 m'Republic of Upper Volta']

In [155]:
underrep_countries_by_quote = list(country_agg[country_agg.signi_quote_count < 30].index)
[countries[c].label for c in underrep_countries_by_quote]

[m'Imperial China',
 m'North Vietnam',
 m'South Vietnam',
 m'Aruba',
 m'Republic of Artsakh',
 m'Tibet',
 m'Zaire',
 m'Danish Realm',
 m'Republic of Upper Volta',
 m'Turkmenistan',
 m'Transnistria']

In [150]:
country_agg[country_agg.index.isin(underrep_countries)]

           id  signi_quote_count
country
Q12060881   1                  1
Q172640     1                  1
Q180573     2                 10
Q237        2              37501
Q244165     2                 17
Q2444884    2                 24
Q25279      3                 48
Q34020      3                 46
Q40362      4                 60
Q43287      4                 74
Q6500954    1                  5
Q756617     4                 26
Q797422     2                  3