In [39]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import json
from helpers import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
speakers = pd.read_parquet('data/speaker_attributes.parquet')

In [5]:
speakers.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None

In [4]:
MALE_QID = 'Q6581097'
FEMALE_QID = 'Q6581072'
male_speakers = speakers[speakers.gender.apply(lambda g: MALE_QID in g if g is not None else False)]
female_speakers = speakers[speakers.gender.apply(lambda g: FEMALE_QID in g if g is not None else False)]

In [8]:
male_speakers.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None

In [9]:
female_speakers.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
14,"[Mary Louise Streep, Meryl Louise Streep, Stre...",[+1949-06-22T00:00:00Z],[Q30],[Q6581072],1388232380,None,None,"[Q10800557, Q2259451, Q10798782, Q2405480, Q33...",[Q29552],None,Q873,Meryl Streep,None,item,[Q7066]
19,"[Indira Nehru, Indira Priyadarshini Gandhi, In...",[+1917-11-19T00:00:00Z],"[Q668, Q129286, Q1775277]",[Q6581072],1390256502,[Q1996554],None,[Q82955],[Q10225],None,Q1149,Indira Gandhi,"[Q3532192, Q3531393]",item,[Q9089]
59,None,[+1946-10-06T00:00:00Z],[Q17],[Q6581072],1392610476,None,None,"[Q33999, Q10800557]",None,None,Q3319,Yukiko Kobayashi,None,item,None
60,[Anne Sophie Mutter],[+1963-06-29T00:00:00Z],[Q183],[Q6581072],1387877604,None,None,"[Q1259917, Q16145150]",None,None,Q3374,Anne-Sophie Mutter,None,item,None
76,"[Emily Elizabeth Dickinson, Ai-mi-li Ti-chin-s...",[+1830-12-10T00:00:00Z],[Q30],[Q6581072],1390035803,None,None,"[Q36180, Q49757]",None,None,Q4441,Emily Dickinson,None,item,None

In [10]:
len(male_speakers), len(female_speakers)

(5419708, 1685185)

In [5]:
with open('data/signi-quote-count-combined_1636253317430.json') as f:
    signi_quote_count_dict = json.load(f)

In [6]:
len(signi_quote_count_dict)

624492

In [7]:
signi_quote_count_df = pd.Series(signi_quote_count_dict, name='signi_quote_count')

In [8]:
signi_male_speakers = male_speakers.merge(signi_quote_count_df, left_on='id', right_index=True, how='inner')
signi_male_speakers = signi_male_speakers.sort_values(by=['signi_quote_count'], ascending=False).iloc[:100]

In [27]:
signi_male_speakers

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion,signi_quote_count
2267061,"[Donald John Trump, Donald J. Trump, Trump, Th...",[+1946-06-14T00:00:00Z],[Q30],[Q6581097],1395141850,None,None,"[Q911554, Q557880, Q3427922, Q15980158, Q13152...","[Q29468, Q1897793, Q29552, Q29468, Q29468]",[Q787674],Q22686,Donald Trump,"[Q699872, Q22923830, Q38051523]",item,[Q178169],201293
18,"[Namo, Modi, Narendra Bhai, Narendra Damodarda...",[+1950-09-17T00:00:00Z],[Q668],[Q6581097],1395415052,"[Q1282294, Q6889284]",None,"[Q82955, Q36180, Q7019111, Q10429346]",[Q10230],None,Q1058,Narendra Modi,"[Q63988227, Q63988919, Q16841231, Q16251961, Q...",item,[Q9089],76404
7926268,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,Barack Obama,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]",59650
4545725,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,Francis,None,item,[Q9592],37218
2864,"[Jürgen Norbert Klopp, Jurgen Klopp, Juergen K...",[+1967-06-16T00:00:00Z],[Q183],[Q6581097],1389758184,None,None,"[Q937857, Q628099]",None,None,Q83106,Jürgen Klopp,None,item,[Q75809],33025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148349,"[Anthony John Abbott, Anthony John ""Tony"" Abbo...",[+1957-11-04T00:00:00Z],"[Q408, Q145]",[Q6581097],1394062431,None,None,[Q82955],[Q241149],None,Q348577,Will Schuester,None,item,[Q1841],8850
2541186,None,[+1971-05-10T00:00:00Z],[Q664],[Q6581097],1375854640,None,None,[Q2526255],None,None,Q13502385,Scott Walker,None,item,None,8840
4537156,[Uhuru Muigai Kenyatta],[+1961-10-26T00:00:00Z],[Q114],[Q6581097],1393386295,None,None,[Q82955],"[Q7193584, Q1422517, Q27963537]",None,Q196070,Uhuru Kenyatta,"[Q772097, Q38716916]",item,[Q1841],8801
1925,"[John Richard Kasich, John R. Kasich, John Ric...",[+1952-05-13T00:00:00Z],[Q30],[Q6581097],1393236033,"[Q3003133, Q518188]",K000016,"[Q82955, Q43845, Q806798, Q2883465, Q36180]",[Q29468],None,Q69319,John Kasich,[Q7081048],item,"[Q1841, Q3269815]",8686
6803982,[Unai Emery Etxegoien],[+1971-11-03T00:00:00Z],[Q29],[Q6581097],1387093667,None,None,"[Q937857, Q628099]",None,None,Q295610,Unai Emery,None,item,None,8659

In [9]:
signi_female_speakers = female_speakers.merge(signi_quote_count_df, left_on='id', right_index=True, how='inner')
signi_female_speakers = signi_female_speakers.sort_values(by=['signi_quote_count'], ascending=False).iloc[:100]

In [12]:
signi_female_speakers.id.to_list()

['Q6294',
 'Q170581',
 'Q264766',
 'Q434706',
 'Q465041',
 'Q567',
 'Q3606816',
 'Q186304',
 'Q11668',
 'Q467112',
 'Q11459',
 'Q27986907',
 'Q52183',
 'Q26876',
 'Q6386365',
 'Q10853588',
 'Q1652493',
 'Q4768021',
 'Q6809265',
 'Q630111',
 'Q24698460',
 'Q55223040',
 'Q434858',
 'Q22237',
 'Q5694014',
 'Q29033668',
 'Q22279',
 'Q3304418',
 'Q230733',
 'Q20812953',
 'Q432473',
 'Q5566385',
 'Q22222',
 'Q484605',
 'Q263725',
 'Q19848',
 'Q83287',
 'Q3741557',
 'Q7279347',
 'Q151892',
 'Q5111202',
 'Q55800',
 'Q239411',
 'Q13133',
 'Q42493',
 'Q1770624',
 'Q3135561',
 'Q4792148',
 'Q520173',
 'Q41173',
 'Q40715',
 'Q162202',
 'Q4492815',
 'Q479171',
 'Q22360',
 'Q6761357',
 'Q234653',
 'Q22260',
 'Q19217',
 'Q270820',
 'Q4898286',
 'Q483325',
 'Q466220',
 'Q256380',
 'Q461727',
 'Q4749380',
 'Q3786221',
 'Q6409269',
 'Q7546539',
 'Q24004546',
 'Q483507',
 'Q13475242',
 'Q21466514',
 'Q32620',
 'Q13909',
 'Q2737207',
 'Q1395713',
 'Q38858352',
 'Q56486914',
 'Q467414',
 'Q5607720',
 'Q163225',
 'Q288359',
 'Q27927683',
 'Q16727692',
 'Q230156',
 'Q20235524',
 'Q189490',
 'Q258825',
 'Q16214242',
 'Q293260',
 'Q11116',
 'Q242201',
 'Q178882',
 'Q159178',
 'Q60772',
 'Q44063',
 'Q235132',
 'Q4273978',
 'Q16191011']

<font color='red'>WARNING: LONG EXECUTION!</font>

In [21]:
from functools import partial

years = [2015, 2016, 2017, 2018, 2019, 2020]
speaker_qids = signi_female_speakers.id.to_list() + signi_male_speakers.id.to_list() 
output_list = []

for year in years:
    path_to_input = PATTERN_INPUT.format(year)
    
    # Process quote file
    output_name = process_compressed_json_file(path_to_input, 'data/male-female-quotes', year, partial(check_if_speaker_quote, speakers=speaker_qids))
    
    output_list.append(output_name)

print('\n\nOutput file names:')
for file_name in output_list:
    print(file_name)

Processing year 2015: 3189it [21:38,  2.46it/s]

File data/quotebank/quotes-2015.json.bz2 processed in 1299.1s

Processing year 2016: 2217it [12:39,  2.92it/s]

File data/quotebank/quotes-2016.json.bz2 processed in 760.2s

Processing year 2017: 4962it [26:57,  3.07it/s]

File data/quotebank/quotes-2017.json.bz2 processed in 1619.2s

Processing year 2018: 4589it [27:07,  2.82it/s]

File data/quotebank/quotes-2018.json.bz2 processed in 1629.1s

Processing year 2019: 3397it [16:19,  3.47it/s]

File data/quotebank/quotes-2019.json.bz2 processed in 980.2s

Processing year 2020: 793it [03:48,  3.47it/s]

File data/quotebank/quotes-2020.json.bz2 processed in 228.6s



Output file names:
data/male-female-quotes-2015_1638716519216.json
data/male-female-quotes-2016_1638717279884.json
data/male-female-quotes-2017_1638718898564.json
data/male-female-quotes-2018_1638720528056.json
data/male-female-quotes-2019_1638721508603.json
data/male-female-quotes-2020_1638721738210.json

In [30]:
male_female_combined = combine_quotes_files(output_list)

In [37]:
male_female_quotes, filtered_quotes = filter_quotes(male_female_combined)

In [36]:
filtered_quotes[:5]

[{'quotation': '* $% ^ ## Derby...', 'proba': '0.8724'},
 {'quotation': 'I urge everyone to go to http://www.RailDrishti.in, and see the live camera feed of the IRCTC kitchen. You can check the hygiene of the food preparation through the website,',
  'proba': '0.8587'},
 {'quotation': 'Paris Attacks: Read Why This Woman Refuses To Change Her Facebook Profile Picture To France... https://t.co/QXeuWDiWil',
  'proba': '0.9606'},
 {'quotation': 'This is international cricket and Shikhar will play numerous number of innings. We will have to be patient. He is an impact player and we have to give him as much confidence as we can possibly. When he gets going, he will win us matches. Post-match presentation https://t.co/HBycRQDUDN #bcci via @BCCI #INDvsSA -- DC Sports (@_DCSports) November 18, 2015 He is not out of form. He is batting beautifully and hitting the ball well. We should not put too much pressure on him. Had there been some game, he could have possibly scored a hundred,',
  'proba': '0.8222'},
 {'quotation': 'Today, I will score my ______ century', 'proba': '0.8021'}]

In [40]:
male_female_quotes_concat = concatenate_quotes(male_female_quotes)

In [42]:
write_json_to_file('data/male-female-quotes-concatenated', male_female_quotes_concat)

'data/male-female-quotes-concatenated_1638726656594.json'

In [49]:
male_female_quotes_df = pd.Series(male_female_quotes_concat, name='quotations')

In [50]:
male_female_quotes_df.head()

Q2376327     I've seen a lot. I just watch and watch and w...
Q7199798     In the last 13 months there has been a condol...
Q348577      Millions of Australians are feeling sickened ...
Q258825      In the last budget, the state Legislature app...
Q213854      Yes (I had), because unfortunately we get onl...
Name: quotations, dtype: object

In [51]:
male_speakers_df = signi_male_speakers.merge(male_female_quotes_df, left_on='id', right_index=True, how='inner')

In [52]:
male_speakers_df.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion,signi_quote_count,quotations
2267061,"[Donald John Trump, Donald J. Trump, Trump, Th...",[+1946-06-14T00:00:00Z],[Q30],[Q6581097],1395141850,None,None,"[Q911554, Q557880, Q3427922, Q15980158, Q13152...","[Q29468, Q1897793, Q29552, Q29468, Q29468]",[Q787674],Q22686,Donald Trump,"[Q699872, Q22923830, Q38051523]",item,[Q178169],201293,Under what pretext did Israel's survival beco...
18,"[Namo, Modi, Narendra Bhai, Narendra Damodarda...",[+1950-09-17T00:00:00Z],[Q668],[Q6581097],1395415052,"[Q1282294, Q6889284]",None,"[Q82955, Q36180, Q7019111, Q10429346]",[Q10230],None,Q1058,Narendra Modi,"[Q63988227, Q63988919, Q16841231, Q16251961, Q...",item,[Q9089],76404,"One, Africa will be at the top of our priorit..."
7926268,"[Barack Hussein Obama II, Barack Obama II, Bar...",[+1961-08-04T00:00:00Z],[Q30],[Q6581097],1395141963,"[Q49085, Q6935055, Q12826303, Q6392846]",O000167,"[Q82955, Q40348, Q15958642, Q28532974, Q372436]",[Q29552],"[Q1765120, Q1540185]",Q76,Barack Obama,"[Q3586671, Q45578, Q4226, Q4791768, Q17067714,...",item,"[Q23540, Q1062789, Q960252, Q426316]",59650,Namaste! Thank you Prime Minister Modi for yo...
4545725,"[Jorge Mario Bergoglio, Francisco, Pope Franci...",[+1936-12-17T00:00:00Z],"[Q237, Q414]",[Q6581097],1396054797,[Q1056744],None,"[Q63173086, Q593644, Q104050302, Q36180, Q1234...",None,[Q1233889],Q450675,Francis,None,item,[Q9592],37218,It must never be forgotten that political and...
2864,"[Jürgen Norbert Klopp, Jurgen Klopp, Juergen K...",[+1967-06-16T00:00:00Z],[Q183],[Q6581097],1389758184,None,None,"[Q937857, Q628099]",None,None,Q83106,Jürgen Klopp,None,item,[Q75809],33025,Rhian Brewster is just 18 years old. During t...

In [53]:
female_speakers_df = signi_female_speakers.merge(male_female_quotes_df, left_on='id', right_index=True, how='inner')

In [54]:
female_speakers_df.head()

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion,signi_quote_count,quotations
1135081,"[Hillary Rodham Clinton, Hillary Rodham, Hilla...",[+1947-10-26T00:00:00Z],[Q30],[Q6581072],1393846565,None,C001041,"[Q82955, Q40348, Q193391, Q36180, Q18814623, Q...","[Q29552, Q29468]","[Q163727, Q1540185]",Q6294,Hillary Clinton,"[Q699872, Q4791768]",item,[Q33203],28126,Donors in Saudi Arabia constitute the most si...
6800188,"[Nancy Patricia D'Alesandro Pelosi, Nancy Patr...",[+1940-03-26T00:00:00Z],[Q30],[Q6581072],1392905094,[Q974693],P000197,[Q82955],[Q29552],None,Q170581,Nancy Pelosi,"[Q28404971, Q28122293, Q52494157]",item,[Q1841],20783,Good evening. I appreciate the opportunity to...
1145081,"[Theresa Mary Brasier, Prime Minister Theresa ...",[+1956-10-01T00:00:00Z],[Q145],[Q6581072],1392235818,[Q7994501],None,[Q82955],[Q9626],None,Q264766,Theresa May,"[Q30173038, Q215622, Q590740, Q428598, Q918503...",item,[Q6423963],19450,"The Cabinet has just had a long, detailed and..."
4544778,"[Elizabeth Ann Warren, Senator Warren, Elisabe...",[+1949-06-22T00:00:00Z],[Q30],[Q6581072],1394365746,[Q49078],W000817,"[Q185351, Q82955, Q37226, Q1622272, Q40348, Q1...",[Q29552],"[Q163727, Q1540185]",Q434706,Elizabeth Warren,[Q28220813],item,[Q33203],16937,We need to talk about what we believe: • We b...
2284181,[Mamata Bandyopadhyay],"[+1955-01-05T00:00:00Z, +1960-10-05T00:00:00Z]",[Q668],[Q6581072],1377224970,None,None,"[Q82955, Q1028181, Q36834, Q822146]","[Q10225, Q912899]",None,Q465041,Mamata Banerjee,None,item,[Q9089],16321,It is reported that in many examination centr...

In [57]:
male_speakers_df[['id', 'quotations']].to_csv('data/male_quotations.csv', index=False)

In [ ]:
female_speakers_df[['id', 'quotations']].to_csv('data/female_quotations.csv', index=False)